table {background-color:White;
       border-spacing:0;}
             
.header { background-color: Black; }

.footer { background-color: Black; }

.mainMenu { padding: 0px;
            margin: 0px;
            font-size:0; }

.mainMenu li { display:inline-block;
               border:1px solid #000;
               text-align:center;
               padding: 0px;
               margin: 0px;
               width: 135px;
               font-size:14px; }