table {border:1;
       background-color:White;}

table tr td {border-style:solid;
             border-width:1 1 1 1;
             border-color:Red; }
             
.header { background-color: Black; }

.footer { background-color: Black; }